html, body{
color:#333;
line-height:1.5em;
background-color:#3B0C02;
font-family:arial;
}

a{
color:#951;
}
a:hover{
color:#159;
}
a:visited{
color:#888;
}
#wrap{
background-color:#FFFFFF;
width:950px;
margin:0 auto;
}
#content{
padding:1em;
border:solid 1px gray;
}
#flash{
color:#321;
font-weight:bold;
border:solid 1px lightgray;
padding:.5em;
background-color:lightyellow;
}
.errorList{
	background-color:lightyellow;
	padding:.5em;
}
.errorList li{
color:darkred;
list-style:none;
}
.pagination{
text-align:center;
margin-bottom:1em;
}
.pagination a{
color:black;
}
.pagination a:hover{
  color:inherit;
}
div.action{
margin:1em 0;
}

.contentItem{
border:1px solid gray;
padding:.5em;
border-bottom:none;
}
.contentItem h5{
margin-bottom:1em;
}
.contentItem img{
max-width:100px;
}

.left{float:left;}

.right{float:right;}

.container{/* should probably just use YUI grids? */
position:relative;
}
.container:after{
content:'.';
display:block;
height:0;
clear:both;
visibility:hidden;
}

.leftImage{
float:left;
margin-right:1em;
}

.rightImage{
float:right;
margin-left:1em;
}

.photo{
border:solid 1px #999;
clear:both;
}

.centerText{
text-align:center;
}
.leftText{
text-align:left;
}
.rightText{
text-align:right;
}

#search{
width:250px;
}
#results{
width:655px;
}
#searchAndResults{
border-top:solid 1px gray;
padding-top:1em;
}

form div.element{
	margin:1em 0;
}
	form div.element label{
		width: 4em;
		float: left;
		text-align: right;
		width: 130px;
		margin-right: 0.5em;
		display: block;
	}
	form div.element input, form div.element textarea{
		margin-left: 1.5em;
	}

form fieldset legend {
  font-size: 150%;
  font-weight: normal;
  border-bottom:solid 1px gray;
}

.clear{clear:both;}

#facets li{
	font-weight:bold;
	color:#888;
}

#facets a{
	font-weight:normal;
	text-decoration:none;
	letter-spacing:.1em;
	color:#159;
}
	#facets a:hover{
		text-decoration:none;
		letter-spacing:.1em;
		color:#AA9;
	}

h1#appTitle{
	color:#951;
	letter-spacing:71px;
}

h2{
	color:#888;
	text-transform: uppercase;
}